#center {
    background-color: aqua;
    width: calc(((40vh / 16) * 9));
    height: 40vh;
    position: relative;
    left: calc(50vw - ((40vh / 16) * 9) / 2);
    top: 30vh;
}

#player {
    width: calc(((40vh / 16) * 9));
    height: 40vh;
}
